container:first-child {
    position:relative;
    width: 200px;
    height: 200px;
    background-color: red;
    font-size: 72px;
    text-align: center;
    line-height: 200px;
    box-shadow: 0 2px 1px #777;
    text-shadow: 0 2px 1px #777;
    

}